In [25]:
# Packages / libraries
import os #provides functions for interacting with the operating system
import numpy as np 
import pandas as pd
from datetime import datetime

Collecting pandas
  Downloading pandas-0.24.2-cp27-cp27m-win_amd64.whl (8.3 MB)
Requirement already satisfied: numpy>=1.12.0 in c:\python27\lib\site-packages (from pandas) (1.16.6)
Collecting pytz>=2011k
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\python27\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\python27\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.14.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.24.2 pytz-2019.3

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support

In [26]:
global_confirmed =  pd.read_csv("COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
global_deaths =  pd.read_csv("COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
global_recovered =  pd.read_csv("COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

In [27]:
print (global_confirmed.shape)
print(global_deaths.shape)
print(global_recovered.shape)

global_confirmed.head()

(264, 95)
(264, 95)
(250, 95)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,607,665,714,784,840,906,933,996,1026,1092
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,446,467,475,494,518,539,548,562,584,609
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1914,1983,2070,2160,2268,2418,2534,2629,2718,2811
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,638,646,659,673,673,696,704,713,717,717
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,24,24,24,24

In [28]:
global_confirmed2 = pd.melt(global_confirmed, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])
global_deaths2 = pd.melt(global_deaths, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])
global_recovered2 = pd.melt(global_recovered, id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name=['Date'])

In [29]:
print("The Shape is: ", global_confirmed2.shape)
print("The Shape is: ", global_deaths2.shape)
print("The Shape is: ", global_recovered2.shape)


global_confirmed2.tail()

('The Shape is: ', (24024, 6))
('The Shape is: ', (24024, 6))
('The Shape is: ', (22750, 6))

,Province/State,Country/Region,Lat,Long,Date,value
24019,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/21/20,1
24020,NaN,South Sudan,6.877000,31.307000,4/21/20,4
24021,NaN,Western Sahara,24.215500,-12.885800,4/21/20,6
24022,NaN,Sao Tome and Principe,0.186360,6.613081,4/21/20,4
24023,NaN,Yemen,15.552727,48.516388,4/21/20,1

In [30]:
#Converting the new column to dates

global_confirmed2['Date'] = pd.to_datetime(global_confirmed2['Date'])
global_deaths2['Date'] = pd.to_datetime(global_deaths2['Date'])
global_recovered2['Date'] = pd.to_datetime(global_recovered2['Date'])

In [31]:
# Renaming the Values
global_confirmed2.columns = global_confirmed2.columns.str.replace('value', 'Confirmed')
global_deaths2.columns = global_deaths2.columns.str.replace('value', 'Deaths')
global_recovered2.columns = global_recovered2.columns.str.replace('value', 'Recovered')

In [32]:
print(global_confirmed2.isnull().sum())
print(global_deaths2.isnull().sum())
print(global_recovered2.isnull().sum())

Province/State    16562
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
dtype: int64
Province/State    16562
Country/Region        0
Lat                   0
Long                  0
Date                  0
Deaths                0
dtype: int64
Province/State    16653
Country/Region        0
Lat                   0
Long                  0
Date                  0
Recovered             0
dtype: int64

In [34]:
# Dealing with NULL values

global_confirmed2['Province/State'].fillna(global_confirmed2['Country/Region'], inplace=True)
global_deaths2['Province/State'].fillna(global_deaths2['Country/Region'], inplace=True)
global_recovered2['Province/State'].fillna(global_recovered2['Country/Region'], inplace=True)

global_confirmed2.isnull().sum()

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
dtype: int64

In [10]:
#Combining all the three datasets

final_dataset = global_confirmed2.merge(global_deaths2[['Province/State','Country/Region','Date','Deaths']], 
                                      how = 'outer',left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])
final_df = final_dataset.merge(global_recovered2[['Province/State','Country/Region','Date','Recovered']], 
                                      how = 'outer',left_on = ['Province/State','Country/Region','Date'], 
                                      right_on = ['Province/State', 'Country/Region','Date'])

final_df.isnull().sum()

Province/State       0
Country/Region       0
Lat                 91
Long                91
Date                 0
Confirmed           91
Deaths              91
Recovered         1365
dtype: int64

In [35]:
# Adding Month and Year as a new Column
final_df['Month-Year'] = final_df['Date'].dt.strftime('%b-%Y')
final_df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year
0,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-22,0.0,0.0,0.0,Jan-2020
1,Albania,Albania,41.1533,20.1683,2020-01-22,0.0,0.0,0.0,Jan-2020
2,Algeria,Algeria,28.0339,1.6596,2020-01-22,0.0,0.0,0.0,Jan-2020
3,Andorra,Andorra,42.5063,1.5218,2020-01-22,0.0,0.0,0.0,Jan-2020
4,Angola,Angola,-11.2027,17.8739,2020-01-22,0.0,0.0,0.0,Jan-2020
5,Antigua and Barbuda,Antigua and Barbuda,17.0608,-61.7964,2020-01-22,0.0,0.0,0.0,Jan-2020
6,Argentina,Argentina,-38.4161,-63.6167,2020-01-22,0.0,0.0,0.0,Jan-2020
7,Armenia,Armenia,40.0691,45.0382,2020-01-22,0.0,0.0,0.0,Jan-2020
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0.0,0.0,0.0,Jan-2020
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0.0,0.0,0.0,Jan-2020
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0.0,0.0,0.0,Jan-2020
11,Queensland,Australia,-28.0167,153.4000,2020-01-22,0.0,0.0,0.0,Jan-2020
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0.0,0.0,0.0,Jan-2020
13,Tasmania,Australia,-41.4545,145.9707,2020-01-22,0.0,0.0,0.0,Jan-2020
14,Victoria,Australia,-37.8136,144.9631,2020-01-22,0.0,0.0,0.0,Jan-2020
15,Western Australia,Australia,-31.9505,115.8605,2020-01-22,0.0,0.0,0.0,Jan-2020
16,Austria,Austria,47.5162,14.5501,2020-01-22,0.0,0.0,0.0,Jan-2020
17,Azerbaijan,Azerbaijan,40.1431,47.5769,2020-01-22,0.0,0.0,0.0,Jan-2020
18,Bahamas,Bahamas,25.0343,-77.3963,2020-01-22,0.0,0.0,0.0,Jan-2020
19,Bahrain,Bahrain,26.0275,50.5500,2020-01-22,0.0,0.0,0.0,Jan-2020
20,Bangladesh,Bangladesh,23.6850,90.3563,2020-01-22,0.0,0.0,0.0,Jan-2020
21,Barbados,Barbados,13.1939,-59.5432,2020-01-22,0.0,0.0,0.0,Jan-2020
22,Belarus,Belarus,53.7098,27.9534,2020-01-22,0.0,0.0,0.0,Jan-2020
23,Belgium,Belgium,50.8333,4.0000,2020-01-22,0.0,0.0,0.0,Jan-2020
24,Benin,Benin,9.3077,2.3158,2020-01-22,0.0,0.0,0.0,Jan-2020
25,Bhutan,Bhutan,27.5142,90.4336,2020-01-22,0.0,0.0,0.0,Jan-2020
26,Bolivia,Bolivia,-16.2902,-63.5887,2020-01-22,0.0,0.0,0.0,Jan-2020
27,Bosnia and Herzegovina,Bosnia and Herzegovina,43.9159,17.6791,2020-01-22,0.0,0.0,0.0,Jan-2020
28,Brazil,Brazil,-14.2350,-51.9253,2020-01-22,0.0,0.0,0.0,Jan-2020
29,Brunei,Brunei,4.5353,114.7277,2020-01-22,0.0,0.0,0.0,Jan-2020
...,...,...,...,...,...,...,...,...,...
24085,Canada,Canada,NaN,NaN,2020-03-23,NaN,NaN,10.0,Mar-2020
24086,Canada,Canada,NaN,NaN,2020-03-24,NaN,NaN,110.0,Mar-2020
24087,Canada,Canada,NaN,NaN,2020-03-25,NaN,NaN,183.0,Mar-2020
24088,Canada,Canada,NaN,NaN,2020-03-26,NaN,NaN,184.0,Mar-2020
24089,Canada,Canada,NaN,NaN,2020-03-27,NaN,NaN,256.0,Mar-2020
24090,Canada,Canada,NaN,NaN,2020-03-28,NaN,NaN,466.0,Mar-2020
24091,Canada,Canada,NaN,NaN,2020-03-29,NaN,NaN,466.0,Mar-2020
24092,Canada,Canada,NaN,NaN,2020-03-30,NaN,NaN,466.0,Mar-2020
24093,Canada,Canada,NaN,NaN,2020-03-31,NaN,NaN,1592.0,Mar-2020
24094,Canada,Canada,NaN,NaN,2020-04-01,NaN,NaN,1324.0,Apr-2020
24095,Canada,Canada,NaN,NaN,2020-04-02,NaN,NaN,1735.0,Apr-2020
24096,Canada,Canada,NaN,NaN,2020-04-03,NaN,NaN,2175.0,Apr-2020
24097,Canada,Canada,NaN,NaN,2020-04-04,NaN,NaN,2577.0,Apr-2020
24098,Canada,Canada,NaN,NaN,2020-04-05,NaN,NaN,3012.0,Apr-2020
24099,Canada,Canada,NaN,NaN,2020-04-06,NaN,NaN,3256.0,Apr-2020
24100,Canada,Canada,NaN,NaN,2020-04-07,NaN,NaN,3791.0,Apr-2020
24101,Canada,Canada,NaN,NaN,2020-04-08,NaN,NaN,4154.0,Apr-2020
24102,Canada,Canada,NaN,NaN,2020-04-09,NaN,NaN,5162.0,Apr-2020
24103,Canada,Canada,NaN,NaN,2020-04-10,NaN,NaN,5855.0,Apr-2020
24104,Canada,Canada,NaN,NaN,2020-04-11,NaN,NaN,6589.0,Apr-2020
24105,Canada,Canada,NaN,NaN,2020-04-12,NaN,NaN,7123.0,Apr-2020
24106,Canada,Canada,NaN,NaN,2020-04-13,NaN,NaN,7758.0,Apr-2020
24107,Canada,Canada,NaN,NaN,2020-04-14,NaN,NaN,8210.0,Apr-2020
24108,Canada,Canada,NaN,NaN,2020-04-15,NaN,NaN,8966.0,Apr-2020
24109,Canada,Canada,NaN,NaN,2020-04-16,NaN,NaN,9698.0,Apr-2020
24110,Canada,Canada,NaN,NaN,2020-04-17,NaN,NaN,10545.0,Apr-2020
24111,Canada,Canada,NaN,NaN,2020-04-18,NaN,NaN,10964.0,Apr-2020
24112,Canada,Canada,NaN,NaN,2020-04-19,NaN,NaN,11847.0,Apr-2020
24113,Canada,Canada,NaN,NaN,2020-04-20,NaN,NaN,12543.0,Apr-2020
24114,Canada,Canada,NaN,NaN,2020-04-21,NaN,NaN,13188.0,Apr-2020

In [40]:
## Calculating Daily number #########
final_df2 = final_df.copy()

#creating a new date columns - 1
final_df2['Date - 1'] = final_df2['Date'] + pd.Timedelta(days=1)
final_df2.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)

#Joing on the 2 DFs
final_df3 = final_df.merge(final_df2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'left',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])

#minus_onedf.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1'}, inplace=True)

final_df3.head()

# Additional Calculations
final_df3['Confirmed Daily'] = final_df3['Confirmed'] - final_df3['Confirmed - 1']
final_df3['Deaths Daily'] = final_df3['Deaths'] - final_df3['Deaths - 1']
final_df3['Recovered Daily'] = final_df3['Recovered'] - final_df3['Recovered - 1']

print(final_df3.shape)

(24115, 17)

In [41]:
final_df3.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed - 1,Deaths - 1,Recovered - 1,Date - 1,Date Minus 1,Confirmed Daily,Deaths Daily,Recovered Daily
0,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-22,0.0,0.0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
1,Albania,Albania,41.1533,20.1683,2020-01-22,0.0,0.0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
2,Algeria,Algeria,28.0339,1.6596,2020-01-22,0.0,0.0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
3,Andorra,Andorra,42.5063,1.5218,2020-01-22,0.0,0.0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
4,Angola,Angola,-11.2027,17.8739,2020-01-22,0.0,0.0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

In [42]:
##Since the data for 22-1-20 is NaN for all regions we add data manually####

final_df3['Confirmed Daily'].loc[final_df3['Date'] == '2020-01-22'] = final_df3['Confirmed']
final_df3['Deaths Daily'].loc[final_df3['Date'] == '2020-01-22'] = final_df3['Deaths']
final_df3['Recovered Daily'].loc[final_df3['Date'] == '2020-01-22'] = final_df3['Recovered']

# deleting columns
del final_df3['Confirmed - 1']
del final_df3['Deaths - 1']
del final_df3['Recovered - 1']
del final_df3['Date - 1']
del final_df3['Date Minus 1']

In [43]:
final_df3.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed Daily,Deaths Daily,Recovered Daily
0,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-22,0.0,0.0,0.0,Jan-2020,0.0,0.0,0.0
1,Albania,Albania,41.1533,20.1683,2020-01-22,0.0,0.0,0.0,Jan-2020,0.0,0.0,0.0
2,Algeria,Algeria,28.0339,1.6596,2020-01-22,0.0,0.0,0.0,Jan-2020,0.0,0.0,0.0
3,Andorra,Andorra,42.5063,1.5218,2020-01-22,0.0,0.0,0.0,Jan-2020,0.0,0.0,0.0
4,Angola,Angola,-11.2027,17.8739,2020-01-22,0.0,0.0,0.0,Jan-2020,0.0,0.0,0.0

In [45]:
# Exporting the data

final_df3.to_csv('CoronaVirus PowerBI Raw', sep='\t')